<div id="trust">
  <div class="header">
    <h3>Manage SAA Appliance</h3>
  </div>
  <form class="form-horizontal well-clean shadow-lifted">
    <section id="uninstall-trust-server">
      <legend>Reset SAA Appliance</legend>
      <p class="text-warning"> Warning: Resetting the SAA Appliance may result in an unavailable UI for a duration of time, and depending on your network configuration the UI IP may change. </p>

      <dl class="dl-horizontal">
        {{#unless isActionPending}}
          <button class="btn btn-danger" {{action "reset"}}>Reset</button>
        {{else}}
          <button class="btn btn-danger" disabled="disabled"><i class="icon-spinner icon-spin"></i> Resetting...</button>
        {{/unless}}
      </dl>
    </section>
  </form>

  <form class="form-horizontal well-clean shadow-lifted">
    <section id="uninstall-trust-server">
      <legend>Shutdown SAA Appliance</legend>
      <p class="text-warning"> Warning: Shutting down the SAA Appliance may result in an unavailable UI. </p>

      <dl class="dl-horizontal">
        {{#unless isActionPending}}
          <button class="btn btn-danger" {{action "shutdown"}}>Shutdown</button>
        {{else}}
          <button class="btn btn-danger" disabled="disabled"><i class="icon-spinner icon-spin"></i> Shutting down...</button>
        {{/unless}}
      </dl>
    </section>
  </form>
</div>
