<div id="trust">
  <div class="header">
    <h3>Trust Settings</h3>
  </div>
  <form class="form-horizontal well-clean shadow-lifted">
    <section id="uninstall-trust-server">
      <legend>Uninstall Trust Server</legend>
      <dl class="dl-horizontal">
        {{#if isMtWilsonInstalled}}
          <p class="text-warning">Uninstalling the Trust Server should only be performed for diagnostic purposes.</p>
          {{#unless isActionPending}}
            <button class="btn btn-danger" {{action "uninstall"}}>Uninstall Trust Server</button>
          {{else}}
            <button class="btn btn-danger" disabled="disabled"><i class="icon-spinner icon-spin"></i> Uninstalling Trust Server...</button>
          {{/unless}}
        {{else}}
          <p class="instructions">Trust Server is not installed.</p>
        {{/if}}
      </dl>
    </section>
  </form>
</div>
