# editorconfig.org

root = true

[*]

# Line/file endings
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# Default indentation
indent_style = space
indent_size = 2

# 4 space indentation for PY
[*.py]
indent_size = 4
