  <h4>Service Compute Unit (SCU) Definition</h4>
  <p>The Service Compute Unit (SCU) is a metric that is derived by running an Intel proprietary benchmark, which yields an accurate measure of the compute capability of the node.</p>
  <h4>Service Compute Unit (SCU) Usage</h4>
  <p>The service provider may determine Service Compute Units (SCU) available in a host server by running Intel's SAA Compute Capacity Tool. The tool provides the total capacity of the Host server. An SCU is equivalent to the performance of a hyper-thread in Intel Xeon 2650, 2 GHZ, 8 Core, 20MB L3 Cache.</p>
