<div class="portlet">
  <h3>About Intel速 DCM: SAA {{#if isReadycloud}}Solution{{/if}}
  </h3>
  <p>Intel速 Datacenter Manager: Service Assurance Administrator {{#if isReadycloud}}Solution{{/if}} is copyrighted &copy; {{year date}}.</p>
</div>
<div class="portlet">
  <h3>Version</h3>
  {{#if isReadycloud}}<div>Intel速 DCM: SAA Solution {{readycloudVersion}}</div>{{/if}}
  <div>Intel速 DCM: SAA {{version}}</div>
  <small>{{timestamp date}}</small>
</div>
