<div class="portlet">
  <h3>About
  </h3>
  <p>Intel® Assurance Software is copyright &copy; {{year date}}.</p>
</div>
<div class="portlet">
  <h3>Version</h3>
  <div>{{version}}</div>
  <small>{{timestamp date}}</small>
</div>
