{{#if connected}}
  {{#unless App.application.status}}
    <div class="notification-top">
      <div {{bindAttr class=":alert App.application.statusStyle"}}>
        <ul>
          {{#each item in App.application.statusErrorMessages}}
            <li>{{item.message}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/unless}}
{{else}}
  <div class="notification-top">
    <div class="alert">
      Error: API connectivity has been lost.
    </div>
  </div>
{{/if}}
