<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    {{partial "portlets/_welcome"}}
    {{render "dashboardStatus"}}
    {{partial "portlets/_todo"}}
  </div>
  <div class="row-fluid">
    {{render "dashboardEvents"}}
  </div>
</div>
