<div class="portlet span4">
  <div class="header">System Status</div>
  <div class="portlet-content">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="column-medium">System Health</th>
          <td>{{{healthIcon this.controllers.statuses.health}}} {{healthText this.controllers.statuses.health}} </td>
        </tr>
        <tr>
          <th class="column-medium">IPM Version</th>
          <td>{{controllers.build.version}}</td>
        </tr>
        <tr>
          <th class="column-medium">IPM Master/Slave</th>
          <td>
            {{#if controllers.build.isMaster}}
              IPM Master
            {{else}}
              IPM Slave
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
