<div id="services" class="container-fluid">
  <ul class="nav nav-pills">
    <li>{{#link-to "flavors"}}Flavors{{/link-to}}</li>
    <li>{{#link-to "slas"}}SLAs{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
