<div id="services" class="container-fluid">
  <ul class="nav nav-pills">
    <li>{{#linkTo "flavors"}}Flavors{{/linkTo}}</li>
    <li>{{#linkTo "slas"}}SLAs{{/linkTo}}</li>
  </ul>
  {{outlet}}
</div>
