<div id="settings" class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav affix shadow-lifted">
        {{#unless isReadycloud}}
          <li>{{#link-to "settings.upload"}}<i class="icon-chevron-right"></i><i class="icon-upload-alt"></i>Upload{{/link-to}}</li>
        {{/unless}}
        {{#if isConfigured}}
          <li>{{#link-to "settings.overrides"}}<i class="icon-chevron-right"></i><i class="icon-edit"></i>Configuration Overrides{{/link-to}}</li>
        {{/if}}
        {{#unless isReadycloud}}
          <li>{{#link-to "settings.network"}}<i class="icon-chevron-right"></i><i class="icon-globe"></i>Network{{/link-to}}</li>
        {{/unless}}
        {{#unless isFramed}}
          <li>{{#link-to "settings.users"}}<i class="icon-chevron-right"></i><i class="icon-group"></i>Users{{/link-to}}</li>
          <li>{{#link-to "settings.mailserver"}}<i class="icon-chevron-right"></i><i class=" icon-envelope"></i>Mail Server{{/link-to}}</li>
        {{/unless}}
        {{#if isConfigured}}
          <li>{{#link-to "settings.log"}}<i class="icon-chevron-right"></i><i class="icon-reorder"></i>Logs{{/link-to}}</li>
          <li>{{#link-to "settings.trust"}}<i class="icon-chevron-right"></i><i class="icon-lock"></i>Trust{{/link-to}}</li>
        {{/if}}
        {{#unless isFramed}}
          <li>{{#link-to "settings.controller"}}<i class="icon-chevron-right"></i><i class="icon-sitemap"></i>SAA Appliance{{/link-to}}</li>
        {{/unless}}
       </ul>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
