<div id="settings" class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar">
      <ul class="nav nav-list sidenav affix shadow-lifted">
        <li>{{#linkTo "settings.upload"}}<i class="icon-chevron-right"></i><i class="icon-upload-alt"></i>Upload{{/linkTo}}</li>
        <li>{{#linkTo "settings.network"}}<i class="icon-chevron-right"></i><i class="icon-globe"></i>Network{{/linkTo}}</li>
        <li>{{#linkTo "settings.mailserver"}}<i class="icon-chevron-right"></i><i class="icon-envelope"></i>Mail Server{{/linkTo}}</li>
        {{#if App.application.isEnabled}}
          <li>{{#linkTo "settings.users"}}<i class="icon-chevron-right"></i><i class="icon-group"></i>Users{{/linkTo}}</li>
          <li>{{#linkTo "settings.log"}}<i class="icon-chevron-right"></i><i class="icon-reorder"></i>Logs{{/linkTo}}</li>
        {{/if}}
       </ul>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
