{{#with controllers.status}} 
  {{#if showStatus}}
    {{#if connected}}
      {{#if statusErrorMessages}}
        <div class="notification-top">
          <div {{bindAttr class=":alert statusClass"}}>
            <ul>
              {{#each statusErrorMessages}}
                <li>{{name}}: {{message}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="notification-top">
        <div class="alert alert-error">
          Error: API connectivity has been lost.
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/with}}
