<div class="progress progress-success progress-bar-container" {{bind-attr style="containerWidth"}}>
  <div class="bar" {{bind-attr style="width"}} ></div>
</div>
<div class="progress-bar-value">
  <small>
    {{#view "tooltip" titleBinding="message"}}
      <a>{{percentValue}}%</a>
    {{/view}}
  </small>
</div>
