<div class="progress">
  <div class="bar bar-success" {{bind-attr style=barRange1PercentageWidth}}></div>
  <div class="bar bar-warning" {{bind-attr style=barRange2PercentageWidth}}></div>
  <div class="bar bar-danger" {{bind-attr style=barRange3PercentageWidth}}></div>
</div>

