<div class="portlet span4 welcome">
  <div class="header">Welcome</div>
  <div class="portlet-content">
    <figure class="thumbnail">
      <img src="/images/diagram.png">
      <figcaption class="caption">Service Assurance Management</figcaption>
    </figure>
  </div>
</div>
