#dashboard {
  .portlet {
    @height: 320px;
    &.welcome {
      text-align: center;
      .thumbnail {
        .box-sizing(border-box);
        max-width: 100%;
        img {
          .box-sizing(border-box);
          padding: 5px;
          max-height: 190px;
          background-color: #f5f5f5;
        }
      }
    }
    &.events {
      height: @height;
    }
    min-height: @height;
    .portlet-content {
      height: @height - 60;
      overflow-y: auto;
      overflow-x: hidden;
    }
    table {
      tr {
        td.column-small {
          text-align: center;
        }
        .close {
          display: none;
        }
        &:hover .close {
          display: inline-block;
        }
      }
    }
  }
}
