#login {
  .portlet {
    .makeColumn(4);
    float: none;
    margin: 20px auto;
  }
  input[type=text], input[type=password] {
    width: 220px;
  }
  .form-actions {
    margin: 20px -19px -19px;
    text-align: right;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    label {
      width: 150px;
      float: left;
    }
    button {
      float: right;
    }
  }
  .icon-info-blue {
    color: @blue;
  }
}
