#login {
  .portlet {
    .makeColumn(4);
  }
  input[type=text], input[type=password] {
    width: 220px;
  }
/*   .login-help {
    display: none;
  } */
  .form-actions {
    label {
      width: 150px;
      float: left;
    }
    button {
      float: right;
    }
  }
  .icon-info-blue { 
    color: @blue;
  }
}
