#tempPassword {
  .portlet {
    .makeColumn(4);
    float: none;
    margin: 20px auto;
  }
  input[type="text"] {
    width: 210px;
  }
  .form-actions {
    margin: 40px -19px -19px;
    text-align: right;
    .border-bottom-left-radius(3px);
    .border-bottom-right-radius(3px);
    label {
      width: 150px;
      float: left;
    }
    button {
      float: right;
    }
  }
}
