#vms {
  height: 100%;
  > .row-fluid {
    height: 100%;
  }
  .sidebar {
    .btn-group {
      width: 100%;
    }
  }
  @headerHeight: 45px;
  .header {
    width: 100%;
    height: @headerHeight;
  }
  .content {
    position: relative;
    min-width: 1070px;
    height: 100%;
    > .table {
      margin-bottom: 10px;
      > .thead {
        //overflow-y: scroll;
        > table {
          border-bottom: 1px solid #ddd;
        }
      }
    }
    > .table > .thead > table,
    .ember-list-item-view > table {
      table-layout: fixed;
      width: 100%;
      @rowHeight: 34px;
      // Text-overflow with ellipsis
      > tbody > tr > {
        td:nth-of-type(6),  // VM Name
        td:nth-of-type(7) {  // Hostname
          .text-overflow();
        }
      }
      > tbody {
        > tr {
          > th,
          > td {
            height: 27px;
            padding: 0;
            border-bottom: 1px solid #ddd;
            .border-radius(0);
            input[type="radio"], input[type="checkbox"] {
              margin: 0;
            }
          }
        }
        > tr.is-expanded {
          #gradient.vertical(#fdfdfd, #e9e9e9);
          > th,
          > td {
            border-bottom: 1px solid #bbb;
            .box-shadow(0 -1px 0 #c0c0c0);
          }
          > th:first-of-type,
          > td:first-of-type {
            border-left: 1px solid #c0c0c0;
          }
        }
      }
      > thead,
      > tbody {
        > tr {
          > th:not(.sortable),
          td.column-small,
          > td.column-small {
            text-align: center;
          }
        }
        > tr:not(.is-expanded):not(.is-selected) {
          > th:first-of-type,
          > td:first-of-type,
          > th:nth-last-of-type(2),
          > td:nth-last-of-type(2),
          > th:last-of-type,
          > td:last-of-type {
            background-color: #f9f9f9;
          }
        }
        > tr:hover:not(.is-expanded):not(.is-selected) {
          > td {
            background-color: transparent;
          }
        }
        // Column widths
        > tr {
          > th:nth-of-type(1),  // Selected
          > td:nth-of-type(1) {
            width: 3.5%;
          }
          > th:nth-of-type(2),  // State
          > td:nth-of-type(2) {
            width: 3.5%;
          }
          > th:nth-of-type(3),  // Trust Status
          > td:nth-of-type(3) {
            width: 3.5%;
          }
          > th:nth-of-type(4),  // SLA Status
          > td:nth-of-type(4) {
            width: 3.5%;
          }
          > th:nth-of-type(5),  // Noisy Neighbor
          > td:nth-of-type(5) {
            width: 3.5%;
          }
          > th:nth-of-type(6),  // VM Name
          > td:nth-of-type(6) {
            width: 12%;
          }
          > th:nth-of-type(7),  // Hostname
          > td:nth-of-type(7) {
            width: 10%;
          }
          > th:nth-of-type(8),  // vCPUs x SU
          > td:nth-of-type(8) {
            width: 13%;
          }
          > th:nth-of-type(9),  // SU widget
          > td:nth-of-type(9) {
            width: 12%;
          }
          > th:nth-of-type(10),  // Memory
          > td:nth-of-type(10) {
            width: 6%;
          }
          > th:nth-of-type(11),  // Contention
          > td:nth-of-type(11) {
            width: 12%;
          }
          > th:nth-of-type(12),  // Actions
          > td:nth-of-type(12) {
            width: 8%;
          }
          > th:nth-of-type(13),  // Expand
          > td:nth-of-type(13) {
            width: 3.5%;
          }
        }
      }
      .sparkline {
        display: inline-block;
        width: 150px;
        height: 20px;
        vertical-align: middle;
        path {
          stroke: steelblue;
          stroke-width: 1;
          fill: none;
        }
      }
      .cpu-typography {
        margin: -4px 0;
        white-space: nowrap;
        .cores-and-allocation {
          display: inline-block;
          margin-right: 4px;
          vertical-align: top;
          font-size: 0.9em;
          .cores {
            margin-bottom: -5px;
          }
          .allocation {
            font-size: 0.9em;
            margin-bottom: 0px;
          }
        }
        .total-allocation {
          display: inline-block;
          height: @rowHeight;
          line-height: @rowHeight;
          vertical-align: top;
          font-size: 15px;
          .operator {
            font-size: 14px;
          }
        }
      }
      .allocation {
        font-size: 0.7em;
        color: #333;
        .allocation-bar {
          display: inline-block;
          position: relative;
          vertical-align: text-top;
          @maxWidth: 100px;
          width: @maxWidth;
          .allocation-range {  // light orange dashed border
            position: absolute;
            width: @maxWidth;
            height: 10px;
            border: 1px dashed grey;
            .box-shadow(~"inset 0 1px 4px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .02)");
            .border-radius(5px);
            background: linear-gradient(to right,
              #fff7e6 0,
              #fff7e6 9px,
              #fff 9px,
              #fff 11px,
              #fff7e6 11px,
              #fff7e6 19px,
              #fff 19px,
              #fff 21px,
              #fff7e6 21px,
              #fff7e6 29px,
              #fff 29px,
              #fff 31px,
              #fff7e6 31px,
              #fff7e6 39px,
              #fff 39px,
              #fff 41px,
              #fff7e6 41px,
              #fff7e6 49px,
              #fff 49px,
              #fff 51px,
              #fff7e6 51px,
              #fff7e6 59px,
              #fff 59px,
              #fff 61px,
              #fff7e6 61px,
              #fff7e6 69px,
              #fff 69px,
              #fff 71px,
              #fff7e6 71px,
              #fff7e6 79px,
              #fff 79px,
              #fff 81px,
              #fff7e6 81px,
              #fff7e6 89px,
              #fff 89px,
              #fff 91px,
              #fff7e6 91px,
              #fff7e6 100px);
          }
          .allocation-min {  // light green solid border
            position: absolute;
            width: 50%;
            height: 10px;
            border: 1px solid grey;
            .box-shadow(~"inset 0 1px 4px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .02)");
            .border-radius(5px);
            background: linear-gradient(to right,
              #e9f7e9 0px,
              #e9f7e9 9px,
              #fff 9px,
              #fff 11px,
              #e9f7e9 11px,
              #e9f7e9 19px,
              #fff 19px,
              #fff 21px,
              #e9f7e9 21px,
              #e9f7e9 29px,
              #fff 29px,
              #fff 31px,
              #e9f7e9 31px,
              #e9f7e9 39px,
              #fff 39px,
              #fff 41px,
              #e9f7e9 41px,
              #e9f7e9 49px,
              #fff 49px,
              #fff 51px,
              #e9f7e9 51px,
              #e9f7e9 59px,
              #fff 59px,
              #fff 61px,
              #e9f7e9 61px,
              #e9f7e9 69px,
              #fff 69px,
              #fff 71px,
              #e9f7e9 71px,
              #e9f7e9 79px,
              #fff 79px,
              #fff 81px,
              #e9f7e9 81px,
              #e9f7e9 89px,
              #fff 89px,
              #fff 91px,
              #e9f7e9 91px,
              #e9f7e9 100px);
          }
          &.is-range .allocation-min {
            .border-top-right-radius(0);
            .border-bottom-right-radius(0)
          }
          .allocation-current {
            position: absolute;
            width: @maxWidth;
            height: 10px;
            margin: 1px;
            overflow: hidden;
            .border-radius(4px);
            .allocation-current-warning {  // dark orange
              position: absolute;
              width: 75%;
              height: 10px;
              background: linear-gradient(to right,
                #ffaa00 0,
                #ffaa00 9px,
                #fff 9px,
                #fff 11px,
                #ffaa00 11px,
                #ffaa00 19px,
                #fff 19px,
                #fff 21px,
                #ffaa00 21px,
                #ffaa00 29px,
                #fff 29px,
                #fff 31px,
                #ffaa00 31px,
                #ffaa00 39px,
                #fff 39px,
                #fff 41px,
                #ffaa00 41px,
                #ffaa00 49px,
                #fff 49px,
                #fff 51px,
                #ffaa00 51px,
                #ffaa00 59px,
                #fff 59px,
                #fff 61px,
                #ffaa00 61px,
                #ffaa00 69px,
                #fff 69px,
                #fff 71px,
                #ffaa00 71px,
                #ffaa00 79px,
                #fff 79px,
                #fff 81px,
                #ffaa00 81px,
                #ffaa00 89px,
                #fff 89px,
                #fff 91px,
                #ffaa00 91px,
                #ffaa00 100px);
            }
            .allocation-current-success {  // dark green
              position: absolute;
              width: 50%;
              height: 10px;
              border-right: 1px solid grey;
              background: linear-gradient(to right,
                #1fad1f 0,
                #1fad1f 9px,
                #fff 9px,
                #fff 11px,
                #1fad1f 11px,
                #1fad1f 19px,
                #fff 19px,
                #fff 21px,
                #1fad1f 21px,
                #1fad1f 29px,
                #fff 29px,
                #fff 31px,
                #1fad1f 31px,
                #1fad1f 39px,
                #fff 39px,
                #fff 41px,
                #1fad1f 41px,
                #1fad1f 49px,
                #fff 49px,
                #fff 51px,
                #1fad1f 51px,
                #1fad1f 59px,
                #fff 59px,
                #fff 61px,
                #1fad1f 61px,
                #1fad1f 69px,
                #fff 69px,
                #fff 71px,
                #1fad1f 71px,
                #1fad1f 79px,
                #fff 79px,
                #fff 81px,
                #1fad1f 81px,
                #1fad1f 89px,
                #fff 89px,
                #fff 91px,
                #1fad1f 91px,
                #1fad1f 100px);
            }
          }
        }
      }
    }
    > .details {
      position: absolute;
      z-index: 500;
      top: @headerHeight;
      bottom: 31px;
      right: -1px;
      width: 700px;
      overflow: auto;
      border: 1px solid #dddddd;
      background-color: white;
      .border-radius(4px);
      .box-shadow(-1px 1px 2px -1px rgba(0, 0, 0, 0.2));
      .close {
        position: absolute;
        float: none;
        width: 12px;
        right: 8px;
        top: 2px;
        z-index: 10;
      }
      @nav-tabs-height: 31px;
      > .nav-tabs {
        height: @nav-tabs-height;
        .box-sizing(border-box);
        background-color: #f9f9f9;
        padding-top: 2px;
        padding-right: 2px;
        padding-left: 2px;
        .border-top-left-radius(4px);
        .border-top-right-radius(4px);
        > li > a {
          padding-bottom: 3px;
          &:hover {
            border-top: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
          }
        }
      }
      > .tab-content {
        position: absolute;
        top: @nav-tabs-height;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        .box-sizing(border-box);
        overflow: auto;
        border-right: none;
        border-bottom: none;
        border-left: none;
        .instantiation {
          table {
            margin-top: 0;
          }
          .ranked-nodes-table {
            width: 50%;
            display: inline-table;
            vertical-align: top;
          }
          .slo-gates-table {
            width: 49.5%;
            display: inline-table;
            vertical-align: top;
          }
          .nested-cell {
            padding: 0.5em 0.5em 0;
            vertical-align: top;
            .nested-table {
              margin: 0 0 0.5em;
              tr {
                th {
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
    .table-footer {
      .user-select(none);
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      .btn-group {
        margin-left: 10px;
      }
      .btn {
        font-size: 12px;
      }
    }
  }
  .treemap {
    display: none;
    height: 200px;
    margin-bottom: 10px;
    .node {
      min-width: 10px;
      min-height: 10px;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
      > a {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 2px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
