<div id="users">
<h3>Edit User Profile</h3>
<form class="form-horizontal well-clean shadow-lifted">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each user in controller}}
        <tr>
            <td>{{user.username}}</td>
            <td>
                {{#link-to 'profile' user}}Edit Profile{{/link-to}}
            </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="100%">
          <small>Displaying {{count}} users</small>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
</div>
