<div id="users">
  <h3>Users</h3>
  <form class="form-horizontal well-clean shadow-lifted">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each model}}
          <tr>
            <td>{{username}}</td>
            <td>
              {{#link-to "settings.user" this}}Edit Profile{{/link-to}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="100%">
            <small>Displaying {{count}} user(s)</small>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
