<div class="portlet">
  <h3>Definitions</h3>
  <h4>Service Compute Unit (SCU) Definition</h4>
  <p>The Service Compute Unit (SCU) is a metric that is derived by running an Intel proprietary benchmark, which yields an accurate measure of the compute capability of the node.</p>
  <h4>Service Compute Unit (SCU) Usage</h4>
  <p>The service provider may determine Service Compute Units (SCU) available in a host server by running Intel's SAA Compute Capacity Tool. The tool provides the total capacity of the Host server. An SCU is equivalent to the performance of a hyper-thread in Intel Xeon 2650, 2 GHZ, 8 Core, 20MB L3 Cache.</p>
  <h3>Examples</h3>
  <h4>Host Servers</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>CPU</th>
        <th>Frequency</th>
        <th>Sockets</th>
        <th>Core</th>
        <th>Cache</th>
        <th>SCU Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Xeon E5-2650</td>
        <td>2.0 GHz</td>
        <td>2</td>
        <td>8</td>
        <td>20 MB</td>
        <td>64.0 SCUs</td>
      </tr>
      <tr>
        <td>Xeon E5-4650</td>
        <td>2.7 GHz</td>
        <td>4</td>
        <td>8</td>
        <td>20 MB</td>
        <td>172.8 SCUs</td>
      </tr>
      <tr>
        <td>Xeon E3-1275 v2</td>
        <td>3.5 GHz</td>
        <td>1</td>
        <td>4</td>
        <td>8 MB</td>
        <td>47.6 SCUs (1.7 CPU Throughput)</td>
      </tr>
    </tbody>
  </table>
  <h4>Web Workloads</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>CPU</th>
        <th>SQL Server SCUs (Unshared)</th>
        <th>Web Server</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Xeon E5-2650</td>
        <td>3.6 SCUs</td>
        <td>1.5 SCUs</td>
      </tr>
      <tr>
        <td>Xeon E5-5670</td>
        <td>5.27 SCUs</td>
        <td>2.93 SCUs</td>
      </tr>
    </tbody>
  </table>
  <p class="alert"><strong>Note</strong>: The values in these tables are estimes. Actual SCU values will vary depending upon the hardware configuration of the server.</p>
</div>
