<div id="blocked">
  <div class="portlet">
    <div class="header">Upgrade Browser</div>
    <p>Your web browser is out of date. Please upgrade to a modern browser in order to use this web application.</p>
    <div id="browsers" class="row-fluid">
      <div class="span4">
        <a href="http://www.google.com/chrome">
          <img src="images/browser-chrome.png">
          <p>Chrome</p>
        </a>
      </div>
      <div class="span4">
        <a href="http://www.getfirefox.com">
          <img src="images/browser-firefox.png">
          <p>Firefox</p>
        </a>
      </div>
      <div class="span4">
        <a href="http://windows.microsoft.com/ie">
          <img src="images/browser-ie.png">
          <p>Internet Explorer</p>
        </a>
      </div>
    </div>
  </div>
</div>
