<div class="portlet">
  <h3>About Intel&reg; DCM: SAA
  </h3>
  <p>Intel&reg; Datacenter Manager: Service Assurance Administrator is copyrighted &copy; {{unix-year date}}.</p>
</div>
<div class="portlet">
  <h3>Version</h3>
  {{#if isReadycloud}}<div>Intel&reg; DCM: SAA Recipe {{readycloudVersion}}</div>{{/if}}
  <div>Intel&reg; DCM: SAA {{#if isReadycloud}}Ingredient{{/if}} {{version}}</div>
  <small>{{time-stamp date}}</small>
</div>
