<div id="tempPassword" class="container">
  <div class="portlet">
    <div class="header">Generate Temporary Password</div>
    <form autocomplete="off">
      <label for="inputUsername"><small>Username</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        {{input valueBinding="username" id="tempPassword-username" placeholder="Username" autofocus="autofocus"}}
      </div>
      <div class="form-actions">
        {{#unless isActionPending}}
          <button type="submit" class="btn btn-primary" {{action "generatePassword"}}>Generate Temporary Password</button>
        {{else}}
          <a class="btn btn-primary disabled"><i class="icon-spinner icon-spin"></i> Generating Password...</a>
        {{/unless}}
      </div>
    </form>
  </div>
</div>
